doctype html
html(lang="en")
  head
    - var pagetitle = "Donate – Summary"
    include ./includes/head.jade
  body
    //Navbar
    include ./includes/navbar.jade
    //Login Modal
    include ./includes/login-modal.jade
    //Signup Modal
    include ./includes/signup-modal.jade
    //CONTENTS
    //Section How it Works
    .jumbotron.donation-step: .container.text-center
      h1.section-title Help Cassie
      .col-md-4.col-sm-4.col-xs-4
        a(href="#step-1", title="back to step 1"): span.step.completed 1
        h4 Donate
      .col-md-4.col-sm-4.col-xs-4
        a(href="#step-2", title="back to step 2"): span.step.completed 2
        h4 Payment
      .col-md-4.col-sm-4.col-xs-4
        span.step.active 3
        h4 Complete
    .jumbotron.payment-method: .container.text-center 
      h2.section-title Donation Amount $5,-
      h3.section-title Payment via Bank Transfer
      form
        .col-md-4.col-md-offset-4
          br
          button.btn.primary.full-width(type="submit") Donate Now
          br
          .checkbox
            label(for="anonymous-donation")
              input(type="checkbox" value="none" id="anonymous-donation")
              | Receive Donation Update
    //Section Footer
    include ./includes/footer.jade