doctype html
html(lang="en")
  - var pagetitle = "WeCare ID"
  include ./includes/head.jade
  body
    //Navbar
    include ./includes/navbar.jade
    //Login Modal
    include ./includes/login-modal.jade
    //CONTENTS
    //Section Title
    .jumbotron.header
      .container.text-center
        h1(style="padding-top:1em;")
          span(style="font-family:'blogger_sanslight_italic', Fallback, sans-serif;") We
          span(style="font-family:'blogger_sansmedium_italic', Fallback, sans-serif;") Care
          |  ID
        p Bringing healthcare to every person on the planet
    //Section Patients
    .jumbotron
      .container
        .row.text-center
          h2.section-title Help The Patients
          p You can make all the differences by donating as little as $5</p>
        .row.patient-row
          include ./includes/patient-card.jade
          include ./includes/patient-card.jade
          include ./includes/patient-card.jade
        .text-center: a.btn.primary See All The Patients
    //Section How it Works
    .jumbotron.how-it-works
      .container.text-center
        h2.section-title How It Works
        .col-md-4.col-sm-4.col-xs-12
          img(alt="Medical Partner", src="img/ic_local_hospital@2x.png", height="114px")
          h3 Medical Partner
          p We work with notable medical partners across the region to find patients in need.
        .col-md-4.col-sm-4.col-xs-6
          img(alt="Approval", src="img/ic_approve@2x.png", height="114px")
          h3 Approval
          p We review the patients, then post their story on the website.
        .col-md-4.col-sm-4.col-xs-6
          img(alt="Donate", src="img/ic_donate@2x.png", height="114px")
          h3 Donate
          p You can read patient's story and donate as little as 5$ to help fund their healthcare.
    //Section App Promo
    .jumbotron.app-promo
      .container.text-center
        h2.section-title Get Moving
        p Run, walk, or cycling to engage more people and raise more fund for patients with:
        span(style="font-size:400%;margin-top:2em;margin-bottom:2em;display:block;")
          img(alt="phiruntrophy", src="img/logo_phiruntrophy@2x.png", style="display:inline-block;height:52px;")
          span(style="font-family:'blogger_sansbold_italic', Fallback, sans-serif;display:inline-block;") &nbsp;phiruntrophy
        a.btn.primary Download PHIRUNTROPHY
    //Section Footer
    include ./includes/footer.jade