doctype html
html(lang="en")
  head
    - var pagetitle = "WeCare ID – [partner_name]"
    include ./includes/head.jade
  body
    //Navbar
    include ./includes/navbar.jade
    //Login Modal
    include ./includes/login-modal.jade
    //CONTENTS
    //Section Header
    .jumbotron.partner-header
      .blur-patient-bg
      .container.text-center
        .col-md-12
          .row: .col-md-12
            h1.partner-name(style="margin-top:1em;") Wuqu’ Kawoq
            h3.section-title 2,718 donors have funded healthcare for 442 Wuqu’ Kawoq patients in Indonesia.
          .row: .col-md-12.text-center
            ul.contact-list.nav.nav-pills(style="display:inline-block;padding-top:1em;padding-bottom:1em;")
              li: a(href="#facebook"): img(src="img/ic_contact_facebook.png" width="24px" height="24px")
              li: a(href="#twitter"): img(src="img/ic_contact_twitter.png" width="24px" height="24px")
              li: a(href="#gplus"): img(src="img/ic_contact_gplus.png" width="24px" height="24px")
              li: a(href="#instagram"): img(src="img/ic_contact_instagram.png" width="24px" height="24px")
              li: a(href="#web"): img(src="img/ic_contact_web.png" width="24px" height="24px")
          .row: .col-md-12.col-xs-12     
            button.btn.primary(type="submit") View All Patients
    //Section Story
    .jumbotron: .container
      .col-md-8
        .panel
          .partner-detail
            include ./includes/partner-details-example.jade
      .col-md-4.col-sm-6
          a(href="#"): img(src="img/partner_logo.png" width="100%")
              
    //Section Related Patients
    .jumbotron: .container
      .text-center
        h2.section-title Patients from Wuqu’ Kawoq
      .patient-row
        include ./includes/patient-card.jade
        include ./includes/patient-card.jade
        include ./includes/patient-card.jade
      .patient-row
        include ./includes/patient-card.jade
        include ./includes/patient-card.jade
      .col-md-12.text-center: a.btn.primary View More Patients
    //Section Footer
    include ./includes/footer.jade