doctype html
html(lang="en")
  head
    - var pagetitle = "User Profile"
    include ./includes/head.jade
  body
    //Navbar
    include ./includes/navbar.jade
    //Login Modal
    include ./includes/login-modal.jade
    //CONTENTS
    //Section Header
    .jumbotron.user-profile: .container
      .col-md-4
        .panel.col-md-12
          .row.user-img
        .panel.col-md-12
          h2.patient-name Park Bo Young
          h4.user-location Seoul, South Korea
          p.user-bio Coffee powered pun collector, mavericks
          h4: a.btn-link(href="#") Edit Profile
        .panel.col-md-12
          h3.widget-title Donated Rp. 999,999,-
        .panel.col-md-12
          h3.widget-title Patient funded (3)
          .row.donator-grid
            .col-md-4.col-xs-3: a(href="http://user1"): .container.donator-avatar
            .col-md-4.col-xs-3: a(href="http://user2"): .container.donator-avatar
            .col-md-4.col-xs-3: a(href="http://user3"): .container.donator-avatar
      .col-md-8: .container
        h3.section-title.patient-update-title Patients Update
        ul.patient-update
          li
            include ./includes/patient-card-update.jade
          li
            include ./includes/patient-card-update.jade
          li
            include ./includes/patient-card-update.jade
          li
            include ./includes/patient-card-update.jade
        .text-center: a.btn.primary View More
        //h4.text-center: a.btn-link(href="#") View More
    //Section Footer
    include ./includes/footer.jade