@import "base";
//reset button
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Make `a` like a button */
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"], button, .btn {
	border-color: none;
	padding: 14px 32px 14px 32px;
	//max-height: 48px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-webkit-transition-delay: 0s;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-property: background-color, border, color, -webkit-box-shadow, -moz-box-shadow, box-shadow;
	-webkit-transition-timing-function: ease;
	transition-delay: 0s;
	transition-duration: 0.25s;
	transition-property: background-color, border, color;
	transition-timing-function: ease;
	@include rounded-maximum;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	word-wrap: break-word;
	&:focus {
		outline: none;
	}
	&.primary {
		border: 2px $cl-magenta solid;
		background: $cl-magenta;
		color: $white;
		&:hover {
			background: none;
			cursor: pointer;
			color: $cl-magenta;
		}
		&:active {
			background: none;
			@include button-box-shadow(0, 0, 0, rgba($black, 0), 0, 0, 0, rgba(#fff, 0 ));
			color: $cl-magenta;
			outline: none;
		}
	}
	&.icon-left {
		padding-left: 12px;
		span {
			padding-left: 32px;
			&.arrow {
				background: url(../img/icon_prev.svg) no-repeat 0 50%;
			}
		}
	}
	&.icon-right {
		padding-right: 12px;
		span {
			padding-right: 32px;
			&.arrow {
				background: url(../img/icon_next.svg) no-repeat 100% 50%;
			}
			&.caret-down {
				background: url(../img/icon_arrow_down.svg) no-repeat 100% 50%;	
			}
		}
	}
	&.full-width {
		display: block;
		text-align: center;
		line-height: 1;
		min-width: 100%;
	}
	&.btn-dropdown {
		border-radius: 2px;
		text-transform: none;
		color: $cl-black;
		padding-left: 24px;
		padding-right: 24px;
		&:hover {
			color: $cl-green;
		}
		&:active {
			@include button-box-shadow(0, 0, 0, $cl-white, 0, 0, 0, $cl-white);
			color: $cl-magenta;
		}
	}
	&.special-readmore {
		display: block;
		position: absolute;
		bottom: 0;
		padding: 28px 32px 0px 32px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		color: $cl-green;
		text-align: center;
		font-size: $small;
		line-height: $base-line-height;
		min-width: 100%;
		background: linear-gradient(rgba(white, 0.8), rgba(white, 1));
		&:hover {
			cursor: pointer;
			color: $cl-magenta;
		}
		&:active {
			color: $cl-magenta;
			@include button-box-shadow(0, 0, 0, rgba(black, 0), 0, 0, 0, rgba(white, 0 ));
		}
	}
}