footer.jumbotron.footer
  .container
    .col-md-6
      h2(style="color:white;margin-top:0px;line-height:1;")
        span(style="font-family:'blogger_sanslight_italic', Fallback, sans-serif;") We
        span(style="font-family:'blogger_sansmedium_italic', Fallback, sans-serif;") Care
        span(style="font-family:'blogger_sanslight', Fallback, sans-serif;")  ID
    .col-md-2
      span.title About
      ul.nav
        li: a(href='#cl') CharityLights
        li: a(href='#blog') Blog
        li: a(href='#privacy') Privacy & Policy
    .col-md-2
      span.title Learn More
      ul.nav
        li: a(href='#cl') Transparency
        li: a(href='#blog') Get Involved
        li: a(href='#privacy') FAQ
    .col-md-2
      span.title Get in Touch
      ul.nav
        li: a(href='#twitter') Twitter
        li: a(href='#fb') Facebook
        li: a(href='#contact') Contact Us
//Copyright        
.jumbotron.copyright
  .container.text-center
    span © Pelita Cakrawala Inspirasi Foundation 2015