.modal.fade.loginmodal(role="dialog", aria-labelledby="loginmodal")
  .modal-dialog.modal-sm(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close"): span(aria-hidden="true") &times;
        h2.modal-title#loginmodal Log In
      .modal-body
        .container-fluid
          form.row
            .input-group
              span.input-group-addon#basic-addon1 Email
              input.form-control(type="text", placeholder="e.g., doctor.who@mail.com", aria-describedby="basic-addon1")
            .input-group
              span.input-group-addon#basic-addon2 Password
              input.form-control(type="password", placeholder="e.g., ••••••••••••", aria-describedby="basic-addon2")
            button.btn.primary.full-width(type="button") Log In Now
      .modal-footer
        //br
        a.btn-link Forgot Password?