p Wuqu’ Kawoq was founded in 2007 by a group of development workers to create high-quality solutions to community health problems for Guatemala’s indigenous populations.

p Wuqu’ Kawoq has been recognized by Great Nonprofits as a Top-Rated Organization. They were also featured on ABC News for their amazing work treating the problem of stunted growth in Guatemala.

p Wuqu’ Kawoq is doing big things, and they are committed to complete transparency and accountability. Their annual reports and financial information are available for download on their website.