.patient-card.col-md-4
  .panel.col-md-12
    .row.patient-img
    
    .patient-summary
      h4 Nona (3), Riau
      span 
        | Do not go gentle into that good night, 
        | Old age should burn and rage at close of day; 
        | Rage, rage against the dying of the light.
        | Though wise men at their end know dark is right, 
        | Because their words had forked no lightning they 
        | Do not go gentle into that good night.
      a.btn.special-readmore Read More
    
    .row.donation-progress.progress
      .progress-bar(role="progressbar", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width: 100%;" title="100%")
      span.sr-only 100% Complete

    .row.donation-summary
      .col-md-4.col-xs-4
        span.raised Rp. 999,999,-
        span.donation-label raised
      .col-md-4.col-xs-4
        span.to-go Rp. 999,999,-
        span.donation-label to go
      .col-md-4.col-xs-4
        span.donator 1,999
        span.donation-label donator