p It’s not often a 5-year-old patient looks forward to trips to a hospital, but that is the case with Indah and his visits to his friends in the Pediatric Acute Wound Service (PAWS) at St. Louis Children’s Hospital. Indah first came to PAWS at age 4 with what initially was thought to be a perirectal abscess.

p “Our pediatrician had prescribed antibiotics, but when those didn’t help clear up the abscess, she referred us to PAWS,” says Amie Casey, Indah’s mom.

p “When we performed Indah’s initial incision and drainage, we quickly realized it wasn’t a typical abscess,” says Jennifer Seigel, RN, NP, PAWS nurse practitioner. “We expedited his care by having Dr. Brad Warner, surgeon-in-chief at Children’s Hospital, come directly to PAWS and examine Indah while he was still under sedation.”

p Dr. Warner diagnosed Indah as having a perirectal fistula.

p “These begin as abscesses on the inner lining of the rectum, which in most cases drain internally and heal,” he explains. “The abscesses become fistulas when they begin burrowing through the rectal wall and into the skin around the anus. In Indah’s case, the canal or tunnel was advancing toward his leg.”

p Dr. Warner’s goal with surgery was to connect the opening on the outside of the skin to the opening inside the rectum. Once the roof of the tunnel is opened, it begins to heal from the inside outward.

p “We limited as much as possible how much of an incision was made, but we also had to be mindful that if you don’t drain the fistula sufficiently, it can recur,” says Dr. Warner. “It’s a balance between opening up enough so that you can control the infection and not so much that you create a large wound.”

p He adds, “Unfortunately, these types of fistulas are relatively common and can become a major health issue for children. Sometimes it can be an indication of an underlying condition such as Crohn’s disease. In other cases, some children just have a propensity to develop them.”

p Indah received follow-up wound care at PAWS. “For patients like Indah, dressing changes—done with sedation when needed—are best completed by an expert wound team such as that found at PAWS,” says Dr. Warner.

p That expertise extends to knowing how to make young children comfortable in what can be a scary place. PAWS success with that aspect of treatment is evidenced by Indah’s eagerness to see his PAWS friends whenever he is at the hospital.

p “He talks all the time about his PAWS nurses, Jenny Schmitz and Jennifer Seigel, and Jill Wiethuchter from Child Life Services. She was excellent at distracting him during the procedures by blowing bubbles with him or playing on an iPad,” says Amie. “In fact, one day Indah and his big brother were talking about how we need to do nice things for people. They decided they wanted to do a toy drive for PAWS. From the money and toys they collected, they were able to make a donation worth $500 to benefit PAWS patients.”

p Indah was referred to an St. Louis Children's Hospital pediatric gastroenterologist for evaluation. Fortunately, there is no indication of Crohn’s disease. “We were told to give him a multivitamin every day and make sure he eats lots of fruits and vegetables,” says Amie. “He’s doing fine now. And whenever we visit Children’s Hospital for the asthma study he’s participating in, Indah is always ready to visit his ‘girlfriends’ in PAWS.”  