.panel.patient-card.col-md-12
  .row
    .media
      .media-left.media-middle
        a(href="#"): .patient-img-thumbnail
      .media-body
          .col-md-12.col-xs-12
            a.link(href="#"): h4.patient-name.media-heading Indah (3), Riau
          .col-md-12.col-xs-12
            .donation-summary.row
              .col-md-4.col-sm-4.col-xs-6
                small.raised Rp. 999,999,-
                span.donation-label raised
              .col-md-4.col-sm-4.col-xs-6
                small.to-go Rp. 999,999,-
                span.donation-label to go
              .col-md-4.col-sm-4.hidden-xs
                small.donator 1,999
                span.donation-label donator