.panel.patient-card.col-md-12
  .row
    .col-md-3
      .container.patient-img-thumbnail
    .col-md-9
      .patient-summary
        h4(style="margin-top:15px;") Indah (3), Riau
      .row.donation-summary
        .col-md-4.col-xs-6
          span.raised Rp. 999,999,-
          span.donation-label raised
        .col-md-4.col-xs-6
          span.to-go Rp. 999,999,-
          span.donation-label to go
        .col-md-4.hidden-xs
          span.donator 1,999
          span.donation-label donator
        .col-md-6
          h4(style="margin-top:15px;"): a.btn-link(href="#patients-2") View Update