.patient-card.col-md-4
  .panel.col-md-12
    .row.patient-img
    
    .patient-summary
      h4: a.link(href="#patients-2") Indah (3), Riau
      span 
        | Do not go gentle into that good night, 
        | Old age should burn and rage at close of day; 
        | Rage, rage against the dying of the light.
        | Though wise men at their end know dark is right, 
        | Because their words had forked no lightning they 
        | Do not go gentle into that good night.
      a.btn.special-readmore Read More
    
    .row.donation-progress.progress
      .progress-bar(role="progressbar", aria-valuenow="100", aria-valuemin="0", aria-valuemax="100", style="width: 100%;" title="100%")
      span.sr-only 100% Complete

    .row.donation-summary
      .col-lg-4.col-md-6.col-sm-3.col-xs-4
        span.raised 
          span.currency Rp.
          |  999,999,-
        span.donation-label raised
      .col-lg-4.col-md-6.col-sm-3.col-xs-4
        span.to-go 
          span.currency Rp.
          |  999,999,-
        span.donation-label to go
      .col-lg-4.hidden-md.col-sm-3.col-xs-4
        span.donator 1,999
        span.donation-label donator
      .hidden-lg.hidden-md.col-sm-3.hidden-xs
        span.percentage 37%
        span.donation-label progress